#main-menu{
    h2{
        color: $color2;
        text-align: right;
        padding-top: 15px;
        display: block;
        margin-bottom: 0px!important;
    }
    ul{
        float: right;
        margin-top: 13px;
        li{
            display: inline-block;
            a{
                color:$color1;
                text-transform: uppercase;
                font-size: 12px;
                display: block;
                margin-left: 20px;
                font-weight: 600;
                height: 32px;
                width: 90px;
                text-align: center;
                &:hover{
                    color: $color2;
                }
                &:focus{
                    color: $color2;
                }
            }
        }
    }
}

/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: $color1;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

  .sticky {
    position: fixed;
    z-index: 888;
    background: #fff;
}