
/*Responsive*/

/* Large desktop */
@media (min-width: 1200px) {
  }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1200px) {
  }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .hide-mob {
    display: none!important;
  }
  .half-bx{
    width: 100%;
  }
  .top-head{
    span{
      text-align: center;
      margin: 0px auto;
      float: none!important;
      width: auto;
      display: block;
    }
  }
  .barnd{
    width: 100px;
  }
  #main-menu{
    h2{
      font-size: 14px;
    }
    ul{
      display: none;
    }
    i{
      text-align: right;
      display: block;
      font-size: 25px;
      margin-top: 15px;
      color: #fff;
    }
  }
  .mobi-only{
    display: block;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  }
