/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700 !important;
  display: block;
  padding-bottom: 2em;
  font-size: 40px;
}

h2 {
  font-weight: 600;
  display: block;
  padding-bottom: 1em;
  font-size: 20px;
}

p {
  font-weight: 400;
  line-height: 1.5em;
  font-size: 14px;
}
