/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../copass/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../copass/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../copass/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../copass/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../copass/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../copass/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../copass/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../copass/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../copass/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_base.scss */
body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* line 8, ../sass/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

/* line 18, ../sass/_base.scss */
span {
  font-weight: 400;
  letter-spacing: 1px;
}

/* line 23, ../sass/_base.scss */
h1 {
  font-weight: 700;
  display: block;
  padding-bottom: .8em;
  font-size: 30px;
  color: #3A265F;
}

/* line 31, ../sass/_base.scss */
h2 {
  font-weight: 600;
  display: block;
  padding-bottom: 1em;
  font-size: 20px;
  color: #5D4095;
}

/* line 39, ../sass/_base.scss */
p {
  font-weight: 400;
  line-height: 1.5em;
  font-size: 14px;
  color: #666;
}

/* line 46, ../sass/_base.scss */
section {
  width: 100%;
}

/* line 50, ../sass/_base.scss */
button {
  border: none;
  min-width: 120px;
  background: #5D4095;
  color: #fff;
  height: 46px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}
/* line 60, ../sass/_base.scss */
button a {
  color: #fff;
}
/* line 64, ../sass/_base.scss */
button:focus {
  background: #7d5fb7;
}
/* line 68, ../sass/_base.scss */
button:hover {
  background: #7d5fb7;
  cursor: pointer;
}

/* line 74, ../sass/_base.scss */
.row {
  margin-bottom: 0px !important;
}

/* line 78, ../sass/_base.scss */
.relative {
  position: relative;
}

/* line 81, ../sass/_base.scss */
.mobi-only {
  display: none;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?nktsh2");
  src: url("../fonts/icomoon.eot?nktsh2#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?nktsh2") format("truetype"), url("../fonts/icomoon.woff?nktsh2") format("woff"), url("../fonts/icomoon.svg?nktsh2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 10, ../sass/_block.scss */
[class*=" icon-"],
[class^="icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/_block.scss */
.icon-bus:before {
  content: "\e900";
}

/* line 30, ../sass/_block.scss */
.icon-city:before {
  content: "\e901";
}

/* line 34, ../sass/_block.scss */
.icon-flight:before {
  content: "\e902";
}

/* line 38, ../sass/_block.scss */
.icon-Marker:before {
  content: "\e903";
}

/* line 42, ../sass/_block.scss */
.icon-staff:before {
  content: "\e904";
}

/* line 50, ../sass/_block.scss */
.top-head {
  width: 100%;
  height: 40px;
  background: #5D4095;
  line-height: 40px;
}
/* line 55, ../sass/_block.scss */
.top-head span {
  color: #fff;
  font-size: 10px;
}
/* line 59, ../sass/_block.scss */
.top-head i {
  position: absolute;
  width: 40px;
  height: 40px;
  color: #fff;
  right: 0px;
  text-align: center;
  line-height: 40px;
}

/* line 71, ../sass/_block.scss */
.navia {
  width: 100%;
  height: 100px;
  display: block;
  background: rgba(58, 38, 95, 0.68);
}
/* line 76, ../sass/_block.scss */
.navia .s12 {
  padding: 0px;
}

/* line 82, ../sass/_block.scss */
.barnd img {
  width: 145px;
  margin-top: 10px;
}

/* line 89, ../sass/_block.scss */
.navigation {
  width: 100%;
  height: 100px;
}

/* line 94, ../sass/_block.scss */
.half-bx {
  width: 50%;
  float: left;
}

/* line 100, ../sass/_block.scss */
.header-portion {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 800;
}

/* line 107, ../sass/_block.scss */
.padd-each {
  padding: 4em 0em;
}

/* line 1, ../sass/_banner.scss */
#banner {
  max-width: 100%;
  height: 768px;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  background-position: center;
}
/* line 10, ../sass/_banner.scss */
#banner .hero-content h1 {
  font-size: 45px;
  color: #fff;
  display: block;
  text-align: center;
  padding-top: 20%;
}
/* line 17, ../sass/_banner.scss */
#banner .hero-content p {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  display: block;
  text-align: center;
  width: 50%;
  margin: 0px auto;
}
/* line 26, ../sass/_banner.scss */
#banner .hero-content button {
  margin: 0px auto;
  display: block;
  margin-top: 30px;
}

/* line 2, ../sass/_menu.scss */
#main-menu h2 {
  color: #fff;
  text-align: right;
  padding-top: 15px;
  display: block;
}
/* line 8, ../sass/_menu.scss */
#main-menu ul {
  float: right;
  margin-top: 13px;
}
/* line 11, ../sass/_menu.scss */
#main-menu ul li {
  display: inline-block;
}
/* line 13, ../sass/_menu.scss */
#main-menu ul li a {
  color: #c3a6fb;
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  margin-left: 20px;
  font-weight: 600;
  height: 32px;
  width: 90px;
  text-align: center;
}
/* line 23, ../sass/_menu.scss */
#main-menu ul li a:hover {
  color: #fff;
}
/* line 26, ../sass/_menu.scss */
#main-menu ul li a:focus {
  color: #fff;
}

/* Underline From Center */
/* line 35, ../sass/_menu.scss */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

/* line 44, ../sass/_menu.scss */
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #c3a6fb;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 60, ../sass/_menu.scss */
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* line 1, ../sass/_page.scss */
#about {
  border-bottom: 1px solid #f1f1f1;
}
/* line 3, ../sass/_page.scss */
#about img {
  width: 250px;
  height: auto;
  float: right;
}
/* line 8, ../sass/_page.scss */
#about a {
  color: #3A265F;
  margin-top: 40px;
  display: block;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 600;
}
/* line 15, ../sass/_page.scss */
#about a:hover {
  opacity: 0.8;
}

/* line 24, ../sass/_page.scss */
#service h2 {
  font-size: 25px;
  font-weight: 700;
}
/* line 28, ../sass/_page.scss */
#service h3 {
  font-size: 16px;
  font-weight: 600;
  color: #5D4095;
  display: block;
  width: 70%;
}
/* line 35, ../sass/_page.scss */
#service .s-box {
  width: 100%;
  background-color: #000;
  height: 400px;
  text-align: center;
}
/* line 41, ../sass/_page.scss */
#service .s-box i {
  font-size: 50px;
  color: #fff;
  display: block;
  padding-top: 15%;
}
/* line 47, ../sass/_page.scss */
#service .s-box h4 {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  display: block;
  text-align: center;
}
/* line 54, ../sass/_page.scss */
#service .s-box img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/*Responsive*/
/* Large desktop */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  /* line 14, ../sass/_responsive.scss */
  .hide-mob {
    display: none !important;
  }

  /* line 17, ../sass/_responsive.scss */
  .half-bx {
    width: 100%;
  }

  /* line 21, ../sass/_responsive.scss */
  .top-head span {
    text-align: center;
    margin: 0px auto;
    float: none !important;
    width: auto;
    display: block;
  }

  /* line 29, ../sass/_responsive.scss */
  .barnd {
    width: 100px;
  }

  /* line 33, ../sass/_responsive.scss */
  #main-menu h2 {
    font-size: 14px;
  }
  /* line 36, ../sass/_responsive.scss */
  #main-menu ul {
    display: none;
  }
  /* line 39, ../sass/_responsive.scss */
  #main-menu i {
    text-align: right;
    display: block;
    font-size: 25px;
    margin-top: 15px;
    color: #fff;
  }

  /* line 47, ../sass/_responsive.scss */
  .mobi-only {
    display: block;
  }
}
/* Landscape phones and down */
